<!DOCTYPE html>
<html lang="tr" ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/tailwindcss/tailwind.min.css" rel="stylesheet" />
    <link href="~/tailwindcss/components.min.css" rel="stylesheet" />
    <link href="~/tailwindcss/utilities.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/haktanemresenel.com.webUI.styles.css" asp-append-version="true" />
    <link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/scss/site.min.css" rel="stylesheet" asp-append-version="true" />

</head>
<body>

    <audio controls="controls" style="display:none;" id="generalTheme">
        <source src="~/media/starwarsmaintheme.mp3" type="audio/mpeg"  />
    </audio>




    <div ng-controller="MainCtrl" class="w-100 h-100 maxWidthHeight">
        <main role="main" class="w-100 h-100 maxWidthHeight">
            <div class="spinner-overlay" ng-if="$mc.isLoading" >
                <div class="spinner">
                    <img src="~/images/emre.jpg" />
                </div>
            </div>
            <div class="m-0 p-0" style="height:8%;" >
                <audio controls="controls" id="hover-sound" preload="auto" style="display:none;">
                    <source src="~/media/StarWarsMainTheme.mp3" type="audio/mpeg" />
                </audio>
                <nav class="customNavbar d-flex w-100 container">
                    <div class="w-100 d-flex justify-content-start ml-2">
                        <ul class="d-flex justify-content-start w-100 mb-0 mr-3 mt-1 p-0">
                            <li class="">
                                
                                <a href="~/media/darth-breathing.mp3" class="hover-sound-item" title="CV" ng-click="wait(3000,{type:'notif',succMsg:'İndirme Başarılı',errorMsg:'İndirme başarısız dosya bulunamadı'})" download>
                                    <i class="fa-solid fa-download" title="CV"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex justify-content-center w-100">
                        <ul class="d-flex justify-content-center w-100 mb-0 mr-3 mt-1 gap-10 p-0">
                            <li class="hover-sound-item"><a class="hover-sound-item" ng-click="changeText('exp')">Deneyim</a></li>
                            <li class="hover-sound-item" ng-click="changeText('about')">Hakkımda</li>
                            <li class="hover-sound-item" ng-click="changeText('proj')">Projeler</li>

                        </ul>
                    </div>
                    <div class="w-100 d-flex justify-content-end">
                        <ul class="d-flex justify-content-end w-100 navbar-animation mb-0 mr-3 mt-1 gap-10 p-0">



                            <li class="hover-sound-item">
                                <a href="https://www.instagram.com/haktansenell23" class="hover-sound-item text-white" target="_blank">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </li>
                            <li class="hover-sound-item">
                                <a href="https://x.com/haktansenell23" class="hover-sound-item text-white" target="_blank">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            <li class="hover-sound-item">
                                <a href="https://github.com/haktansenell23" class="hover-sound-item text-white" target="_blank">
                                    <i class="fa-brands fa-github-alt"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                </nav>

                <div>
                </div>

               

                
            </div>
            <div class="layoutMain container overflow-auto rounded" style="height:90%;max-height:90%;">
                <div class="" style="height:1000px
">
                    @RenderBody()
                </div>
            </div>
           
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/vanilla.js" asp-append-version="true"></script>

    <script src="~/angular.js/angular.min.js"></script>
    <script src="~/js/modules.js" asp-append-version="true"></script>
    <script src="~/js/maincontroller.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        var homeUrl = window.location.host;

        console.log("homeUrl", homeUrl);
    </script>
</body>
</html>
