@{
    ViewData["Title"] = "Welcome";
}

<div class="introTextBegin">
<div class="scroll-starWars-text">
        <h1>
        Haktan Emre Şenel
    </h1>
    <h2>
        Özet
    </h2>
    <h3 class="mt-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, animi dignissimos molestiae, veniam architecto magnam natus commodi officiis expedita alias asperiores quod nam ratione tenetur quia accusantium repudiandae. Repudiandae sint ea perferendis modi, voluptas culpa accusamus dolorem officiis voluptatibus quam dolore sit. Fuga, magnam velit. Libero maxime assumenda laborum a dolores eos, tempore labore voluptates temporibus ducimus earum sunt ipsa, asperiores velit accusamus. Quidem architecto autem vel facilis deserunt, veritatis commodi amet? Maiores corrupti, dolor nam nulla sapiente dolores necessitatibus perspiciatis nihil modi, quas voluptate ipsum dicta, autem inventore. Doloribus, laboriosam illum veniam magni ipsa officiis. Magnam incidunt sed nulla!
    </h3>
    <h3 class="mt-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, animi dignissimos molestiae, veniam architecto magnam natus commodi officiis expedita alias asperiores quod nam ratione tenetur quia accusantium repudiandae. Repudiandae sint ea perferendis modi, voluptas culpa accusamus dolorem officiis voluptatibus quam dolore sit. Fuga, magnam velit. Libero maxime assumenda laborum a dolores eos, tempore labore voluptates temporibus ducimus earum sunt ipsa, asperiores velit accusamus. Quidem architecto autem vel facilis deserunt, veritatis commodi amet? Maiores corrupti, dolor nam nulla sapiente dolores necessitatibus perspiciatis nihil modi, quas voluptate ipsum dicta, autem inventore. Doloribus, laboriosam illum veniam magni ipsa officiis. Magnam incidunt sed nulla!
    </h3>
    <h3 class="mt-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, animi dignissimos molestiae, veniam architecto magnam natus commodi officiis expedita alias asperiores quod nam ratione tenetur quia accusantium repudiandae. Repudiandae sint ea perferendis modi, voluptas culpa accusamus dolorem officiis voluptatibus quam dolore sit. Fuga, magnam velit. Libero maxime assumenda laborum a dolores eos, tempore labore voluptates temporibus ducimus earum sunt ipsa, asperiores velit accusamus. Quidem architecto autem vel facilis deserunt, veritatis commodi amet? Maiores corrupti, dolor nam nulla sapiente dolores necessitatibus perspiciatis nihil modi, quas voluptate ipsum dicta, autem inventore. Doloribus, laboriosam illum veniam magni ipsa officiis. Magnam incidunt sed nulla!
    </h3>
    <h3 class="mt-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, animi dignissimos molestiae, veniam architecto magnam natus commodi officiis expedita alias asperiores quod nam ratione tenetur quia accusantium repudiandae. Repudiandae sint ea perferendis modi, voluptas culpa accusamus dolorem officiis voluptatibus quam dolore sit. Fuga, magnam velit. Libero maxime assumenda laborum a dolores eos, tempore labore voluptates temporibus ducimus earum sunt ipsa, asperiores velit accusamus. Quidem architecto autem vel facilis deserunt, veritatis commodi amet? Maiores corrupti, dolor nam nulla sapiente dolores necessitatibus perspiciatis nihil modi, quas voluptate ipsum dicta, autem inventore. Doloribus, laboriosam illum veniam magni ipsa officiis. Magnam incidunt sed nulla!
    </h3>

</div>
</div>
