@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "AdminLayout";
    ViewData["Title"] = "Admin";
}

    <div class="h-100 d-flex justify-content-center align-items-center h-100">

    <form class="adminLoginBox h-100" name="loginBoxForm" ng-submit="login($event)" novalidate>
            <div class="form-group admingLoginInputMargin">
                <label for="exampleInputEmail1" class="text-white">Kullanıcı Adı</label>
                <input type="email" ng-model="model.email" ng-required="true" class="form-control text-danger" id="exampleInputEmail1" aria-describedby="emailHelp" />
            </div>
            <div class="form-group admingLoginInputMargin">
                <label for="exampleInputPassword1" class="text-white">Şifre</label>
                <input type="password" ng-model="model.password" class="form-control text-danger" ng-required="true"  id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-danger justify-content-end text-white">Giriş Yap</button>
     </form>



    </div>

